body {
    background-color: #40A578;
    padding: 1em;
}

.container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

}

.table{
    width: 100%;
    border-collapse: collapse;
    background-color: crimson;
    border: 0.5em solid black;
}



@media(min-width: 960px) {
    .container {
        /* position: relative; */
        /* right: auto; */
        /* bottom: auto; */
        /* text-align: left; */
        margin-top: 1.2rem;
        order: 1;
    }
}

@media(max-width: 600px) {
    .table{
        margin-right: 1em;
    }
}

